<header>
    <div class="logo">
        <h1>Culture's</h1>
    </div>
    <nav>
        <ul>
                <li><a href="/" id="<%= style == 'home-style' ? 'home-style' : 'none' %>">Home</a></li>
                <li><a class="<%= style == 'location-style' ? 'location-style' : 'none' %>" href="/location-page">Location</a></li>
                <li><a class="<%= style == 'artist-style' ? 'artist-style' : 'none' %>" href="/artist-page">Artist</a></li>
                <li><a class="<%= style == 'about-us-style' ? 'about-us-style' : 'none' %>" href="/about-us-page">About Us</a></li>
                <li><a class="<%= style == 'contact-us-style' ? 'contact-us-style' : 'none' %>" href="/contact-us-page">Contact Us</a></li>
        </ul>
    </nav>
</header>